.home {
  display: flex;
}

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home {
    gap: 3rem;
    margin-top: 5rem;
  }
}