.workout {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__container {
    width: 100%;
  }

  &-form {
    margin-top: 2rem;
  }
}

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Small devices (Large phones, 500px and up) */
@media only screen and (min-width: 500px) {
  .workout {
    flex-direction: row;
    gap: 3rem;
    margin-top: 5rem;
  }

  .landing-img {
    display: block;
  }
}
