@use '../styles/abstracts/variables.scss' as v;
.exercise {
  &__icon {
    &--check {
      color: v.$color-green-light;
    }

    &--undo {
      cursor: pointer;
      color: v.$color-yellow;
    }
  }
}
